<%= simple_form_for project do |form| %>

  <%= form.input :name %>

  <div>
    <%= form.input :description %>
  </div>

  <div>
    <%= form.button :submit, :class => "btn btn-primary"  %>
  </div>
<% end %>
